@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

button {
  border: 1px solid black;
  padding: 5px;
  border-radius: 4px;
}

input {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 4px;
}
