.notice-wrapper {
  max-width: 430px;
  position: fixed;
  right: 0;
  top: 90px;
  overflow: hidden;
  margin-right: 20px;
  z-index: 999999;
}

.notice {
  padding: 10px 20px 10px 10px !important;
  color: white;
  opacity: 0;
  margin-bottom: 10px;
  transition: all 0.3s;
  min-height: 20px !important;
  width: 405px !important;
  opacity: 0;
  font-size: 14px;
}

.notice br:first-child {
  display: none;
}

.notice-default {
  background: #838c9c;
}

.notice-info {
  color: black;
  background: #f3e287;
}

.notice-success {
  background: #4caf50;
}

.notice-error {
  background: #ff3333;
}
