.btn {
  @apply p-1 px-6 border-2 rounded-md transition;
}

.btn.success {
  background-color: #53b175;
  border-color: #53b175;
  color: #fff9ff;
}

.btn.success:hover {
  background-color: #3b7d53;
  border-color: #3b7d53;
  color: #fff9ff;
}

.form-control {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}
